body{
    background-color: #8ecae6;
}

header{
    background-color: #023047;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
    border-radius: 20px;
}

header h1{
    color:white;
    padding-left: 1em;
}

.menu{
    padding-right: 1em;
}

.menu a{
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20px;
}

.menu a:hover{
    background-color: #ffb703;
    color: black;
}

.menu .currentlySelected{
    background-color: #fb8500;
}

.foreground{
    background-color: #219ebc;
    margin: 1em;
    padding: 2px;
    border-radius: 20px;
}

article{
    background-color: #8ecae6;
    color: rgb(0, 0, 0);
    margin: 3em;
    padding: 1em;
    border-radius: 20px;    
}