body{
    background-color: #8ecae6;
}

header{
    background-color: #023047;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    color:white;
    padding-left: 1em;
}

.menu{
    padding-right: 1em;
}

.menu a{
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover{
    background-color: #ffb703;
    color: black;
}

.menu .currentlySelected{
    background-color: #fb8500;
}