<!DOCTYPE html>
<html>
    <head>
        <title>Make a query</title>
    </head>
    <body>
        <header>
            <div class="container">
                <h1>Guardian Sentiment Analysis</h1>
                <nav>
                    <ul class="menu">
                        <li><a href="{{url_for('home')}}">Home</a></li>
                        <li><a href="{{url_for('make_query')}}">Make a query</a></li>
                        <li><a href="{{url_for('me')}}">Me</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <form method="POST">
            {% from "_formhelpers.html" import render_field %}

            <form method=post>
            <dl>
                {{ render_field(form.query) }}
                {{ render_field(form.from_date) }}
                {{ render_field(form.to_date) }}
                {{ render_field(form.max_pages) }}
            </dl>
            <p><input type=submit>
            </form>
        </form>
    </body>
</html>