<!DOCTYPE html>
<html>
    <head>
        <title>Make a query</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
        <script type="text/javascript">
            function clearField(targetElement){
                targetElement.value="";
            }
            
        </script>
    </head>
    <body>
        <header>
            <h1>Guardian Sentiment Analysis</h1>
            <nav class="menu">
                <a href="{{url_for('me')}}">Me</a>
                <a class="currentlySelected" href="{{url_for('make_query')}}">Make a query</a>
                <a href="{{url_for('home')}}">Home</a>
            </nav>
        </header>

        <!-- formhelpers template from flask's docu (very helpful) -->
        {% from "_formhelpers.html" import render_field %}
        <form method=post>
        <dl>
            {{ render_field(form.query,id=queryField) }}
            {{ render_field(form.from_date,id='fromDateField') }} <button type="button" onclick="clearField(fromDateField)">Clear</button>
            {{ render_field(form.to_date,id='toDateField') }} <button type="button" onclick="clearField(toDateField)">Clear</button>
            {{ render_field(form.max_pages,id=maxPageField) }}
        </dl>
        <input type=submit>
        </form>

    </body>
</html>