<!DOCTYPE html>
<html>
    <head>
        <title>Me!</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
    </head>
    <body>
        <header>
            <h1>Guardian Sentiment Analysis</h1>
            <nav class="menu">
                <a class="currentlySelected" href="{{url_for('me')}}">Me</a>
                <a href="{{url_for('make_query')}}">Make a query</a>
                <a href="{{url_for('home')}}">Home</a>
            </nav>
        </header>

    </body>
</html>