<!DOCTYPE html>
<html>
    <head>
        <title>Guardian Sentiment Analysis</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
    </head>
    <body>
        <header>
            <h1>Guardian Sentiment Analysis</h1>
            <nav class="menu">
                <a href="{{url_for('me')}}">Me</a>
                <a href="{{url_for('make_query')}}">Make a query</a>
                <a href="{{url_for('home')}}">Home</a>
            </nav>
        </header>

        <h2>Your query failed</h2>
        <a href="{{url_for('make_query')}}">Try again</a>
    </body>
</html>