<!DOCTYPE html>
<html>
    <head>
        <title>Make a query</title>
        </script>
    </head>
    <body>
        <header>
            <div class="container">
                <h1>Guardian Sentiment Analysis</h1>
                <nav>
                    <ul class="menu">
                        <li><a href="{{url_for('home')}}">Home</a></li>
                        <li><a href="{{url_for('make_query')}}">Make a query</a></li>
                        <li><a href="{{url_for('me')}}">Me</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        {% for table in tables %} 
        <h2>{{titles[loop.index]}}</h2>                             
        {{ table|safe }} 
        {% endfor %}   
    </body>
</html>