<!DOCTYPE html>
<html>
    <head>
        <title>Make a query</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> 
        <script type="text/javascript">
            google.charts.load('current', {'packages': ['corechart']})
            google.charts.setOnLoadCallback(drawPie)

            function roundProportion(number){
                return Math.round(number*100)/100;
            }

            function drawPie(){
                var data=new google.visualization.DataTable();

                data.addColumn('string','Sentiment');
                data.addColumn('number','Proportion');

                data.addRows([
                    ['Negative',roundProportion('{{negative}}')],
                    ['Neutral',roundProportion('{{neutral}}')],
                    ['Positive',roundProportion('{{positive}}')]
                ]);

                pieConfig={
                    'title':"Sentiment for '{{query}}'",
                    'colors':['#db380f','#959695','#3ad413'],
                    'width':500,
                    'height':500
                }

                var pieChart=new google.visualization.PieChart(
                    document.getElementById("pieChartDiv")
                );

                pieChart.draw(data,pieConfig)
            }
        </script>
    </head>
    <body>
        <header>
            <h1>Guardian Sentiment Analysis</h1>
            <nav class="menu">
                <a href="{{url_for('me')}}">Me</a>
                <a href="{{url_for('make_query')}}">Make a query</a>
                <a href="{{url_for('home')}}">Home</a>
            </nav>
        </header>

        <div id="pieChartDiv"></div>
        <a href="{{url_for('show_report')}}">See the CSV report for this query</a>
    </body>
</html>