<!DOCTYPE html>
<html>
    <head>
        <title>Make a query</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/report.css')}}">
    </head>
    <body>
        <header>
            <h1>Guardian Sentiment Analysis</h1>
            <nav class="menu">
                <a href="{{url_for('make_query')}}">Make a query</a>
                <a href="{{url_for('home')}}">Home</a>
            </nav>
        </header>

        {% for table in tables %} 
        <h2>{{titles[loop.index]}}</h2>                             
        {{ table|safe }} 
        {% endfor %}   
    </body>
</html>